html, body {
    width: 100%;
    height: 100%;
        margin: 0;
            padding: 0;
}
.home {
    padding: 20px 50px;
}
.logo {
    height: 100px;
    display: block;
    margin: 0px 50px 0px auto;
    padding: 10px;
}
.details {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: block;

}
.tab-content {
    width: 100%;
    height: calc(100% - 142px);
    margin-top: 142px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.tab-pane {
    height: 100%;
}
.detailsframe {
    width: 100%;
    height: 100%;
    border: none;
}
