<html ng-app="myapp">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" crossorigin="anonymous">
	<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bstreeview@1.2.0/dist/css/bstreeview.min.css"-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css" />

</head>

<body>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<!--script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bstreeview@1.2.0/dist/js/bstreeview.min.js"></script-->
	<script type="text/javascript" src="scripts/tree.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

	<script type="text/javascript" src="app.js"></script>


	<div class="container" ng-controller="OpcuaController as opcua">
		<h1>{{headline}}</h1>

		<div class="alert alert-success">{{message}}</div>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
			  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="home" aria-selected="true">Config</a>
			</li>
			<li ng-repeat="device in opcua.devices" class="nav-item" role="presentation">
			  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#nav-conn-{{device.id}}" role="tab" aria-controls="nav-conn-{{device.id}}" aria-selected="false">{{device.alias}}</a>
			</li>
		</ul>

		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

				<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#devicePopup">
					Add Device
				  </button>
				<button type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.loadConfig()">Restart Manager</button>

				<table class="table table-striped table-hover">
					<thead>
					  <tr>
						<th scope="col">Alias</th>
						<th scope="col">Type</th>
						<th scope="col">URL</th>
						<th scope="col">Status</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="device in opcua.devices">
						<td>{{device.alias}}</td>
						<td>{{device.type}}</td>
						<td>{{device.config.url}}</td>
						<td>
							<span ng-show="device.status=='Online'" class="badge bg-success">{{device.status}}</span>
							<span ng-show="device.status=='Offline'" class="badge bg-secondary">{{device.status}}</span>
							<span ng-show="device.status=='Error'" class="badge bg-danger">{{device.status}}</span>
						</td>
						<td><button ng-show="device.status!='Online'" type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.connect(device.id)">Connect</button></td>
						<td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.editDevice(device)">Edit</button></td>
					</tr>
					</tbody>
				</table>

<!--
				{{opcua.devices || json}}
-->
			</div>
			<div ng-repeat="device in opcua.devices" class="tab-pane fade" id="nav-conn-{{device.id}}" role="tabpanel" aria-labelledby="nav-conn-1-tab">
				<div class="row">
					<h3>{{device.alias}}</h3>
				</div>
				<div class="row">
					<button ng-show="device.status!='Online'" type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.connect(device.id)">Connect</button>
					<button ng-show="device.status=='Online'" type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.disconnect(device.id)">Disconnect</button>
					<button ng-show="device.status=='Online'" type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.browse(device.id)">Browse</button>
					<button ng-show="device.status=='Online'" type="button" class="btn btn-outline-primary btn-sm" ng-click="opcua.saveSubscriptions(device.id)">Save Subscriptions</button>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div id="tree-{{device.id}}"></div>
					</div>
					<div class="col-sm-6">
						<h4>active subscriptions</h4>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="node in device.subscriptions">{{node}}</li>
						</ul>
						<pre>{{nodes | json}}</pre>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="devicePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">OPC UA device</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<form ng-submit="opcua.saveDevice()">
						<div class="form-group">
						  <label for="exampleInputEmail1">Alias</label>
						  <input class="form-control" ng-model="opcua.form.alias" aria-describedby="emailHelp" placeholder="Alias" />
						</div>
						<div class="form-group">
						  <label for="exampleInputPassword1">URL</label>
						  <input class="form-control" ng-model="opcua.form.config.url" placeholder="URL">
						</div>
						<div class="form-check">
						  <input type="checkbox" class="form-check-input" ng-model="opcua.form.config.autoconnect">
						  <label class="form-check-label" for="exampleCheck1">Auto connect</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<input type="submit" id="submit" value="Save Device" class="btn btn-primary" />
						</div>
					</form>				
				</div>
			  </div>
			</div>
		  </div>
	

	</div>

</body>
